@charset "UTF-8";
body {
  line-height: 1.7;
  font-size: 14px;
  font-family: "Arial","Helvetica Neue","Hiragino Kaku Gothic ProN","Hiragino Sans","メイリオ",sans-serif;
  color: #222;
}
header h2 {
  text-align: center;
  line-height: 20px;
  margin-top: 20px;
  border-bottom: 5px solid #014496;
  padding-bottom: 6px;
  margin-bottom: 8px;
}
.tablike{
  display: flex;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
.rn #room {
  flex-grow: 1;
  background-color: lightgreen;
  padding-top: 10px;
  margin: 4px 2px 0 5px;
  border-radius: 5px 5px 0 0;
}
.rn #floor {
  flex-grow: 1;
  background-color: lightblue;
  padding: 5px;
  margin: 5px 6px 1px 3px;
  border-radius: 5px 5px 0px 0px;
}
.rn #floor a{
  text-decoration: none;
  display: block;
}
.fl #room {
  flex-grow: 1;
  background-color: lightgreen;
  padding: 5px;
  margin: 5px 3px 1px 6px;
  border-radius: 5px 5px 0px 0px;
}
.fl #floor {
  flex-grow: 1;
  background-color: lightblue;
  padding-top: 10px;
  margin: 4px 5px 0 2px;
  border-radius: 5px 5px 0 0;
}
.fl #room a{
  text-decoration: none;
  display: block;
}
a:visited{
  color: inherit;
}
a:hover{
  opacity: 0.6;
}
.sroom{
  text-align: center;
  border-radius: 0 5px 5px 5px;
  padding: 12px;
  margin: 0 5px 4px 5px;
  background-color: lightgreen;
  font-size: 16px;
}
.sfloor{
  text-align: center;
  border-radius: 5px 0 5px 5px;
  padding: 10px;
  margin: 0 5px 4px 5px;
  background-color: lightblue;
  font-size: 16px;
}
select{
  padding: 7px;
  width: 35%;
  border-radius: 10px
}
input{
  font-size: 1em;
  padding: 7px;
  min-width: 26.7%;
  color: rgb(84, 85, 85);
}
ul li{
  margin: 0px 10px;
}
ul li:nth-of-type(n+2){
  display: none; 
}
ul{
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 13px auto 0px;
}
main p{
  text-align: center;
  margin: 5px auto 25px;
  color: #646464;
}
footer{
  border-top: 2.4px solid #014496;
  padding: 16px;
}
footer p{
  text-align: right;
  padding-right: 5px;
  margin: 0;
}